LLM_BASE_URL = "http://172.16.125.200:33039/v1"
LLM_API_KEY = "qwen35b@"
LLM_MODEL = "qwen35"
LECTURE_BANK_PATH =  "ingredients/lecture_bank.json"
SCRIPTS_OUTPUT_DIR = "outputs/jpc_scripts"
IMAGES_OUTPUT_DIR = "outputs/jpc_scripts/images"
VIDEO_OUTPUT_DIR = "outputs/jpc_scripts/videos"
# for visual gen
IGEN_MODEL_NAME = "unsloth/Qwen-Image-2512-unsloth-bnb-4bit"
HF_AUTH_TOKEN = "hf_xxxx"
DEFAULT_ASPECT_RATIO = "16:9"


# for video gen
VOICE_MODEL_NAME = "k2-fsa/OmniVoice"